@model IEnumerable<RealEstates.Web.Models.PropertyViewModel>

<div>
    @foreach (var item in Model)
    {
        <p>@item.Title</p>
        <p>@item.Description</p>
        <p>@item.PropertyStatus</p>
        <p>@item.PropertyType</p>
        <p>@item.Sity</p>
        <p>@item.Price</p>
    }
</div>