<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav col-md-5">
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Home", "Index", "Home")</li>
                        </div>
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("About", "About", "Home")</li>
                        </div>
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Properties", "Index", "Home")</li>
                            <div class="dropdown-content">
                                <a href="#">Apartments</a>
                                <a href="#">Offices</a>
                                <a href="#">Houses</a>
                                <a href="#">Shops</a>
                                <a href="#">Hotels</a>
                                <a href="#">Garages</a>
                                <a href="#">Storages</a>
                                <a href="#">Restaurants</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </div>
                    </ul>
                    <div class="col-md-2">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="villa112142" class="villa" data-villaid="112142" data-villaname="Laguna Encantada" data-regionname="Mexico, Riviera Maya, Akumal" }="">
                        <div class="villaImageContainer">
                            <a class="villaLink villaLinkImage" id="villaLinkImage112142" href="/North-America/Mexico/Riviera-Maya/Akumal/Laguna-Encantada-112142">
                                <img itemprop="photo" src="http://mobilepics.luxuryretreats.com/mediastock/med/600x352/1/113/112142_rviera-maya--laguna-encantada-01.jpg" style="">
                            </a>
                        </div>
                        <div class="villaDescription">
                            <h3 itemprop="name"><a class="villaLink villaLinkTitle" href="/North-America/Mexico/Riviera-Maya/Akumal/Laguna-Encantada-112142"><font><font>Laguna Encantada</font></font></a></h3>
                            <p class="service"><a class="villaLink villaLinkDestination" href="/North-America/Mexico/Riviera-Maya/Akumal/Laguna-Encantada-112142"><font><font>4-СТАЕН, </font></font><span itemprop="addressCountry"><font><font>Akumal, Riviera Maya</font></font></span></a></p>
                            <p class="pricing"><a class="villaLink villaLinkRates" href="/North-America/Mexico/Riviera-Maya/Akumal/Laguna-Encantada-112142"><font><font>8 Гости: $ </font></font><span class="biggerText"><font><font>500</font></font></span><font><font> - $ </font></font><span class="biggerText"><font><font>2.314</font></font></span><font><font> / нощ</font></font></a></p>
                            <a itemprop="url" class="villaLink viewVillaButton button small buttonPrimary" href="/North-America/Mexico/Riviera-Maya/Akumal/Laguna-Encantada-112142"><font><font>VIEW VILLA</font></font></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
