<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navb">
            <div class="row">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav col-md-5">
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Real Estate", "Index", "Home")</li>
                        </div>
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Search", "Search", "Home")</li>
                        </div>
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Properties", "Index", "Home")</li>
                            <div class="dropdown-content">
                                <p>@Html.ActionLink("Apartments", "Apartments", "Home")</p>
                                <p>@Html.ActionLink("Offices", "Offices", "Home")</p>
                                <p>@Html.ActionLink("Houses", "Houses", "Home")</p>
                                <p>@Html.ActionLink("Hotels", "Hotels", "Home")</p>
                                <p>@Html.ActionLink("Garages", "Garages", "Home")</p>
                                <p>@Html.ActionLink("Storages", "Storages", "Home")</p>
                                <p>@Html.ActionLink("Restaurants", "Restaurants", "Home")</p>
                            </div>
                        </div>
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("Publish", "Add", "Properties")</li>
                        </div>
                    </ul>
                    <div class="col-md-2" style="margin-right:150px">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown">
                            <li class="dropbtn">@Html.ActionLink("My Ads", "MyAds", "Home")</li>
                        </div>
                     }
                    @Html.Partial("_LoginPartial")
                 </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
