@model RealEstates.Web.Models.Properties.PropertyDetailsViewModel

<h2>@Model.Title</h2>

<h3>@Model.Sity</h3>
<div class="row">
    <div class="col-md-3">
        <div>
            <strong>Property type: </strong> @Model.PropertyType
        </div>
        <div>
            <strong>Property status: </strong> @Model.PropertyStatus
        </div>
        <div>
            <strong>Price: </strong> @Model.Price <strong> €</strong>
        </div>
    </div>
    <div class="col-md-4" style="word-wrap: break-word">
        <strong>Description: </strong> @Model.Description
    </div>
</div>