@model RealEstates.Web.Models.Properties.PropertyDetailsViewModel

<h2>@Model.Title</h2>

<h3>@Model.Sity</h3>
<div class="row">
    <div class="col-md-4">
        <div>
            <strong>Property Id: </strong> @Model.Id
        </div>
        <div>
            <strong>Property type: </strong> @Model.PropertyType
        </div>
        <div>
            <strong>Property status: </strong> @Model.PropertyStatus
        </div>
        <div>
            <strong>Price: </strong> @Model.Price <strong> €</strong>
        </div>
        <div style="word-wrap: break-word">
            <strong>Description: </strong> @Model.Description
        </div>
        <a href="/Properties/Edit/@Model.Id" class="btn btn-success">Edit</a>
    </div>
    <div class="col-md-4">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
        }
    </div>
</div>