@model RealEstates.Web.Models.Properties.PropertyDetailsViewModel


<div class="row" style="background-color:white;">
    <div class="col-md-2"></div>
    <div class="col-md-3" style="margin-bottom:30px">
        <div>
            <h2 style="word-wrap:break-word">@Model.Title</h2>
        </div>
        <div>
            <h3><strong>@Model.Sity</strong></h3>
        </div>
        <div>
            <strong>Property Id: </strong> @Model.Id
        </div>
        <div>
            <strong>Property type: </strong> @Model.PropertyType
        </div>
        <div>
            <strong>Property status: </strong> @Model.PropertyStatus
        </div>
        <div>
            <strong>Price: </strong> @Model.Price <strong> €</strong>
        </div>
        <div style="word-wrap: break-word">
            <strong>Description: </strong> @Model.Description
        </div>
        @if (User.Identity.GetUserId() == Model.Author.Id)
        {
            <a href="/Properties/Edit/@Model.Id" class="btn btn-success">Edit</a>
        }
    </div>
    <div class="col-md-6">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" style="width:350px; height:350px; margin-top:30px;margin-bottom:30px" />
        }
    </div>
</div>